version: "3.9"

services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "5001:5001"
    networks:
      - microservices-net

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "5002:5002"
    networks:
      - microservices-net

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "5003:5003"
    networks:
      - microservices-net

  redis-cache:
    image: redis:latest
    container_name: redis-cache
    ports:
      - "6379:6379"
    networks:
      - microservices-net

  nginx-reverse-proxy:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    ports:
      - "8081:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/index.html:/usr/share/nginx/html/index.html
    depends_on:
      - user-service
      - product-service
      - order-service
    networks:
      - microservices-net

networks:
  microservices-net:
    driver: bridge
