version: '3'
services:
  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx:/usr/share/nginx/html
    depends_on:
      - user-service
      - product-service
      - order-service

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "5001:5001"

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "5002:5002"

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "5003:5003"
