version: "3.8"

services:
  user-service:
    build: ./user-service
    container_name: user_service
    ports:
      - "5001:5001"
    networks:
      - micro_net

  order-service:
    build: ./order-service
    container_name: order_service
    ports:
      - "5002:5002"
    networks:
      - micro_net

  product-service:
    build: ./product-service
    container_name: product_service
    ports:
      - "5003:5003"
    networks:
      - micro_net

  dashboard:
    build: .
    container_name: dashboard_app
    ports:
      - "5000:5000"
    networks:
      - micro_net

  nginx:
    image: nginx:latest
    container_name: nginx_gateway
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/index.html:/usr/share/nginx/html/index.html:ro
    depends_on:
      - user-service
      - order-service
      - product-service
      - dashboard
    networks:
      - micro_net

networks:
  micro_net:
    driver: bridge
